<div class="relative w-20 h-(--inp-h)">
  <button class="w-full h-(--inp-h) hover:border truncate text-[0.5rem]" id="annotation"
    @onclick="async () => { IsToggled = !IsToggled; }">Json annotations</button>
  <div
    class="flex flex-col absolute top-0 w-20 h-fit text-xs font-medium @(IsToggled ? $"hover:outline-3 {OutlineColor}" : "") @StickyClass"
    style="left:5rem;">
    @if (IsToggled)
    {
      @foreach (var kvp in LangOptions.JsonLibrary!.Annotations)
      {
        <AnnotationValueSelection AnnotationKey="@kvp.Key" Annotations="@kvp.Value" Kvp="Kvp" Node="Node"
          StickyClass="@StickyClass" BackgroundColor="@BackgroundColor" OutlineColor="@OutlineColor"
          SelectedColor="@SelectedColor"
          OnAnnotationSelected="async arg => await ForwardOnAnnotationSelected.InvokeAsync(arg)" />
      }
    }
  </div>
</div>

@code {
  [Parameter]
  public required ILanguageOptions LangOptions { get; set; }
  [Parameter]
  public required string Target { get; set; }
  [Parameter]
  public bool IsToggled { get; set; }
  [Parameter]
  public required JNodeKvp? Kvp { get; set; }
  [Parameter]
  public required JNode? Node { get; set; }

  [Parameter]
  public EventCallback OnToggled { get; set; }
  [Parameter]
  public EventCallback<KeyValuePair<string, string>> ForwardOnAnnotationSelected { get; set; }

  private string StickyClass = "";
  private string BackgroundColor = null!;
  private string OutlineColor = null!;
  private string SelectedColor = null!;

  protected override void OnInitialized()
  {
    if (Target == "kvp")
    {
      BackgroundColor = "bg-(--kvp-selection)";
      SelectedColor = "bg-(--kvp-selection-active)";
      OutlineColor = "outline-(--kvp-sel-hov-ol)";
    }
    if (Target == "node")
    {
      BackgroundColor = "bg-(--node-selection)";
      SelectedColor = "bg-(--node-selection-active)";
      OutlineColor = "outline-(--node-hov-ol)";
    }
    if (Target == "sticky")
    {
      BackgroundColor = "bg-(--sticky-selection)";
      SelectedColor = "bg-(--sticky-selection-active)";
      OutlineColor = "outline-(--sticky-hov-ol)";
    }
  }
}