<div class="relative w-20 h-(--inp-h)">
  <div
    class="flex flex-col absolute top-0 left-0 w-20 h-fit text-xs font-medium @(IsToggled ? $"hover:outline-3 {OutlineColor}" : "") @StickyClass"
    @onclick="async () => await OnToggled.InvokeAsync()">
    <button class="w-full h-(--inp-h) hover:border truncate">@CurrentSelected</button>
    @if (IsToggled)
    {
      @foreach (var option in Collection)
      {
        <button
          class="z-50 w-full h-(--inp-h) hover:border truncate @BackgroundColor @(option.ToString() == CurrentSelected ? $"{SelectedColor} text-white" : "")"
          @onclick="async () => await OnSelected.InvokeAsync(option.ToString())" @onclick:stopPropagation="true">
          @option.ToString()
        </button>
      }
      <button class="z-50 w-full h-(--inp-h) hover:border truncate flex items-center @BackgroundColor"
        @onclick="async () => await OnSetCollectionItemNullable.InvokeAsync()" @onclick:stopPropagation="true">
        <label class="text-[0.5rem] font-medium text-center w-15">Allow null items</label>
        <input type="checkbox" class="w-5 h-(--inp-h) pointer-events-none" @bind="CollectionItemNullable" />
      </button>
      @if (LangOptions.Language == "TypeScript")
      {
        <button class="z-50 w-full h-(--inp-h) hover:border truncate flex items-center @BackgroundColor"
          @onclick="async () => await OnSetCollectionItemAllowUndefined.InvokeAsync()" @onclick:stopPropagation="true">
          <label class="text-[0.5rem] font-medium text-center w-15">Allow undefined items</label>
          <input type="checkbox" class="w-5 h-(--inp-h) pointer-events-none" @bind="CollectionItemAllowUndefined" />
        </button>
      }
    }
  </div>
</div>

@code {
  [Parameter]
  public required ILanguageOptions LangOptions { get; set; }
  [Parameter]
  public bool? CollectionItemNullable { get; set; }
  [Parameter]
  public bool? CollectionItemAllowUndefined { get; set; }
  [Parameter]
  public required string Target { get; set; }
  [Parameter]
  public required string CurrentSelected { get; set; }
  [Parameter]
  public bool IsToggled { get; set; }

  [Parameter]
  public EventCallback OnToggled { get; set; }
  [Parameter]
  public EventCallback<string> OnSelected { get; set; }
  [Parameter]
  public EventCallback OnSetCollectionItemNullable { get; set; }
  [Parameter]
  public EventCallback OnSetCollectionItemAllowUndefined { get; set; }

  private Array Collection { get; set; } = null!;
  private string StickyClass = "";
  private string BackgroundColor = null!;
  private string OutlineColor = null!;
  private string SelectedColor = null!;

  protected override void OnInitialized()
  {
    Collection = LangOptions.GetCollectionOptions();

    if (Target == "kvp")
    {
      BackgroundColor = "bg-(--kvp-selection)";
      SelectedColor = "bg-(--kvp-selection-active)";
      OutlineColor = "outline-(--kvp-sel-hov-ol)";
    }
    if (Target == "node")
    {
      BackgroundColor = "bg-(--node-selection)";
      SelectedColor = "bg-(--node-selection-active)";
      OutlineColor = "outline-(--node-hov-ol)";
    }
    if (Target == "sticky")
    {
      BackgroundColor = "bg-(--sticky-selection)";
      SelectedColor = "bg-(--sticky-selection-active)";
      OutlineColor = "outline-(--sticky-hov-ol)";
    }
  }
}