<div class="relative w-20">
  <div
    class="flex flex-col absolute top-0 left-0 w-20 h-fit text-xs font-medium outline-3 @BackgroundColor @OutlineColor @StickyClass"
    @onclick="() => { IsToggled = !IsToggled; }">
    <button
      class="w-full h-(--inp-h) hover:border truncate @(IsToggled ? $"{SelectedColor}" : "")">@CurrentSelected</button>
    @if (IsToggled)
    {
      @foreach (var option in Collection)
      {
        <button
          class="w-full h-(--inp-h) hover:border truncate @(option.ToString() == CurrentSelected ? "bg-white opacity-50" : "")"
          @onclick="async () => await OnSelected.InvokeAsync(option.ToString())" @onclick:stopPropagation="true">
          @option.ToString()
        </button>
      }
      <button class="w-full h-(--inp-h) hover:border truncate flex items-center"
        @onclick="async () => await OnSetCollectionItemNullable.InvokeAsync()" @onclick:stopPropagation="true">
        <label class="text-[0.5rem] font-medium text-center w-15">Nullable items</label>
        <input type="checkbox" class="w-5 h-(--inp-h) pointer-events-none" @bind="CollectionItemNullable" />
      </button>
    }
  </div>
</div>

@code {
  [Parameter]
  public bool? CollectionItemNullable { get; set; }
  [Parameter]
  public required Array Collection { get; set; }
  [Parameter]
  public required string Target { get; set; }
  [Parameter]
  public required string CurrentSelected { get; set; }

  [Parameter]
  public EventCallback<string> OnSelected { get; set; }
  [Parameter]
  public EventCallback OnSetCollectionItemNullable { get; set; }

  private bool IsToggled = false;
  private string StickyClass = "";
  private string BackgroundColor = null!;
  private string OutlineColor = null!;
  private string SelectedColor = null!;

  protected override void OnInitialized()
  {
    if (Target == "kvp")
    {
      BackgroundColor = "bg-(--kvp-sel)";
      OutlineColor = "outline-(--kvp-sel-hov-ol)";
    }
    if (Target == "node")
    {
      BackgroundColor = "bg-(--node)";
      OutlineColor = "outline-(--node-hov-ol)";
    }
    if (Target == "sticky")
    {
      BackgroundColor = "bg-(--sticky)";
      OutlineColor = "outline-(--sticky-hov-ol)";
      StickyClass = "-translate-y-[calc(var(--inp-h)/2)]";
    }
  }
}