<button class="transition-gen button-base" @onclick="async () => await HandleSetNullable()">Nullable</button>

<select class="select-base" @bind="SetCollection" @bind:after="async () => await HandleSetCollection()">
  @for (int i = 0; i < LangOptions.GetCollectionOptions().Length; i++)
  {
    var collectionAs = LangOptions.GetCollectionOptions().GetValue(i)!.ToString();
    <option value="@collectionAs">@collectionAs</option>
  }
</select>

<select class="select-base" @bind="SetCSharpJsonOption" @bind:after="async () => await HandleSetCSharpJsonOption()">
  <option selected value="null">No JSON library</option>
  @foreach (var csjo in Language.GetCSharpJsonOptions())
  {
    <option value="@csjo.Name">@csjo.Name</option>
  }
</select>

<select class="select-base" @bind="SetNamingConvention" @bind:after="async () => await HandleSetNamingConvention()"
  disabled="@(LangOptions.CSharpJsonOptions is null)">
  @foreach (var nc in Language.GetNamingConventions())
  {
    <option value="@nc.Name">@nc.Name</option>
  }
</select>

@code {
  [Parameter]
  public ILanguageOptions LangOptions { get; set; } = new CSharpOptions();
  [Parameter]
  public EventCallback<string> OnSetCollection { get; set; }
  [Parameter]
  public EventCallback<bool> OnSetNullable { get; set; }
  [Parameter]
  public EventCallback<ICSharpJsonOptions?> OnSetCSharpJsonOption { get; set; }
  [Parameter]
  public EventCallback<INamingConvention> OnSetNamingConvention { get; set; }

  private bool setNullable = false;
  async Task HandleSetNullable()
  {
    setNullable = !setNullable;
    await OnSetNullable.InvokeAsync(setNullable);
  }

  private string setCSharpJsonOption = null!;
  public string SetCSharpJsonOption
  {
    get => setCSharpJsonOption;
    set => setCSharpJsonOption = value;
  }
  async Task HandleSetCSharpJsonOption()
  {
    var cSharpJsonOptions = Language.GetCSharpJsonOptions()
    .FirstOrDefault(x => x.Name == setCSharpJsonOption);

    if (cSharpJsonOptions is null)
    {
      var namingConvention = Language.GetNamingConventions()
      .First(x => x.Name == "None");

      setNamingConvention = namingConvention.Name;
      await OnSetNamingConvention.InvokeAsync(namingConvention);
    }

    await OnSetCSharpJsonOption.InvokeAsync(cSharpJsonOptions);
  }

  private string setNamingConvention = null!;
  public string SetNamingConvention
  {
    get => setNamingConvention;
    set => setNamingConvention = value;
  }
  async Task HandleSetNamingConvention()
  {
    var namingConvention = Language.GetNamingConventions()
    .First(x => x.Name == setNamingConvention);

    await OnSetNamingConvention.InvokeAsync(namingConvention);
  }

  private string setCollection = null!;
  public string SetCollection
  {
    get => setCollection;
    set => setCollection = value;
  }
  async Task HandleSetCollection()
  {
    await OnSetCollection.InvokeAsync(setCollection);
  }
}