<select class="select-base" @bind="SetNamingConvention" @bind:after="async () => await HandleSetNamingConvention()"
  disabled="@(LangOptions.JsonLibrary is null)">
  @foreach (var nc in Language.GetNamingConventions())
  {
    <option value="@nc.Name">@nc.Name</option>
  }
</select>

<button class="transition-gen button-base" @onclick="async () => await HandleSetNullable()">Nullable</button>

<select class="select-base" @bind="SetCollection" @bind:after="async () => await HandleSetCollection()">
  @for (int i = 0; i < LangOptions.GetCollectionOptions().Length; i++)
  {
    var collectionAs = LangOptions.GetCollectionOptions().GetValue(i)!.ToString();
    <option value="@collectionAs">@collectionAs</option>
  }
</select>

<select class="select-base" @bind="SetJsonLibrary" @bind:after="async () => await HandleSetCSharpJsonOption()">
  @foreach (var csjo in Language.GetJsonLibraries())
  {
    <option value="@csjo.Name">@csjo.Name</option>
  }
</select>

@code {
  [Parameter]
  public ILanguageOptions LangOptions { get; set; } = new CSharpOptions();
  [Parameter]
  public EventCallback<string> OnSetCollection { get; set; }
  [Parameter]
  public EventCallback<bool> OnSetNullable { get; set; }
  [Parameter]
  public EventCallback<IJsonLibrary?> OnSetJsonLibrary { get; set; }
  [Parameter]
  public EventCallback<INamingConvention> OnSetNamingConvention { get; set; }

  private bool setNullable = false;
  async Task HandleSetNullable()
  {
    setNullable = !setNullable;
    await OnSetNullable.InvokeAsync(setNullable);
  }

  private string setJsonLibrary = null!;
  public string SetJsonLibrary
  {
    get => setJsonLibrary;
    set => setJsonLibrary = value;
  }
  async Task HandleSetCSharpJsonOption()
  {
    var jsonLibrary = Language.GetJsonLibraries()
    .FirstOrDefault(x => x.Name == setJsonLibrary);

    if (jsonLibrary is null)
    {
      var namingConvention = Language.GetNamingConventions()
      .First(x => x.Name == "No naming convention");

      setNamingConvention = namingConvention.Name;
      await OnSetNamingConvention.InvokeAsync(namingConvention);
    }

    await OnSetJsonLibrary.InvokeAsync(jsonLibrary);
  }

  private string setNamingConvention = null!;
  public string SetNamingConvention
  {
    get => setNamingConvention;
    set => setNamingConvention = value;
  }
  async Task HandleSetNamingConvention()
  {
    var namingConvention = Language.GetNamingConventions()
    .First(x => x.Name == setNamingConvention);

    await OnSetNamingConvention.InvokeAsync(namingConvention);
  }

  private string setCollection = null!;
  public string SetCollection
  {
    get => setCollection;
    set => setCollection = value;
  }
  async Task HandleSetCollection()
  {
    await OnSetCollection.InvokeAsync(setCollection);
  }
}