@inject IJSRuntime js
@using System.Threading.Tasks

<div class="transition-column node-col"
  style="top: @(RowOffset* General.RowHeightPx)px; height: @(ContainerHeight - (RowOffset * General.RowHeightPx))px;">

  <div @ref="_sentinel"></div>
  <button class="button-node-sticky" @onclick="() => ToggleScroll()" style="@GetStickyStyle()">
    <span class="span-key @(!IsSticky && CurrentNode.Name is not "Base" ? "w-5/6" : "")">@CurrentNode.Name</span>
    <span class="span-value @(!IsSticky && CurrentNode.Name is not "Base" ? "w-1/6" : "")">@CurrentNode.Type</span>
  </button>

  @foreach (var jKvp in CurrentNode.KeyValues)
  {
    <button @key="jKvp" class="transition-jkvp @(jKvp.IsSelected ? "button-jkvp-selected" : "button-jkvp")"
      @onclick="() => SelectKvp(jKvp)">
      <span class="span-key">@jKvp.Kvp.Key</span>
      <span class="span-value">@jKvp.Kvp.Value</span>
    </button>
  }

  @foreach (var child in CurrentNode.Children)
  {
    <button @key="child" class="transition-node button-node @(child.IsExpanded ? "scale-x-0" : "")"
      @onclick="() => ToggleNode(child, CurrentNode.Children.IndexOf(child))">
      <span class="@(child.IsExpanded ? "hidden" : "span-key")">@child.Name</span>
      <span class="@(child.IsExpanded ? "hidden" : "span-value")">@child.Type</span>
    </button>
  }

</div>

@if (NextNode is not null && NextNode.IsExpanded)
{
  <JNodeView CurrentNode="NextNode" RowOffset="NextRowOffset" ContainerHeight="ContainerHeight"
    OnNodeToggled="PassOnNodeToggled" />
}

@code {
  [Parameter]
  public int ContainerHeight { get; set; }
  [Parameter]
  public int RowOffset { get; set; }
  [Parameter]
  public JNode CurrentNode { get; set; } = default!;
  [Parameter]
  public EventCallback<JNode> OnNodeToggled { get; set; }
  private bool IsSticky { get; set; }


  public int NextRowOffset { get; set; }
  public JNode? NextNode { get; set; } = null;

  private ElementReference _sentinel;
  private IJSObjectReference? _observerHandle;
  private DotNetObjectReference<JNodeView>? _dotNetRef;

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      _dotNetRef = DotNetObjectReference.Create(this);

      _observerHandle = await js.InvokeAsync<IJSObjectReference>("createStickyObserver", _sentinel, _dotNetRef);
    }
  }

  [JSInvokable]
  public void OnStickyStateChanged(bool isSticky)
  {
    IsSticky = isSticky;
    InvokeAsync(StateHasChanged);
  }

  async Task ToggleNode(JNode node, int nodeIndex)
  {
    NextNode = node;
    NextRowOffset = RowOffset + CurrentNode.KeyValues.Count + (nodeIndex + 1);

    await OnNodeToggled.InvokeAsync(node);
  }

  void SelectKvp(JNodeKvp jKvp)
  {
    jKvp.IsSelected = !jKvp.IsSelected;
  }

  async Task ToggleScroll() => await js.InvokeVoidAsync("scrollToElement", _sentinel);

  async Task PassOnNodeToggled(JNode node) => await OnNodeToggled.InvokeAsync(node);

  string GetStickyStyle()
  {
    if (CurrentNode.Name is "Base")
    {
      return "";
    }
    if (IsSticky)
    {
      return $"width: {General.ColWidthPx}px;";
    }
    else
    {
      return $"transform: translateX(-{General.ColWidthPx}px); width: {General.ColWidthPx * 2}px;";
    }
  }
}