@inject IJSRuntime js
@using System.Threading.Tasks

<div class="transition-column node-col"
  style="top: @(RowOffset* General.RowHeightPx)px; height: @(ContainerHeight - (RowOffset * General.RowHeightPx))px;">

  <div @ref="_sentinel"></div>
  <div class="@GetDivStickyClass()">
    <button class="@GetButtonStickyClass()" @onclick="() => ToggleScroll()">
      <span class="span-key @(!IsSticky && CurrentNode.Name is not "Base" ? "w-5/6" : "")">@CurrentNode.Name</span>
      <span class="span-value @(!IsSticky && CurrentNode.Name is not "Base" ? "w-1/6" : "")">@CurrentNode.Type</span>
    </button>
    @if (AnyChildSelected && CurrentNode.Name is not "Base")
    {
      <button class="kvp-option-button" @onclick='async () => await SetNode("nullable")'>
        <label class="kvp-option-label">Nullable</label>
        <input class="kvp-option-checkbox" type="checkbox" @bind="CurrentNode.Nullable" />
      </button>
      @if (CurrentNode.Type == General.JNodeType.Array)
      {
        <select class="kvp-option-select" @bind="CurrentNode.CollectionAs"
          @bind:after='async () => await SetNode("collection")'>
          @foreach (var o in General.GetCollectionOptions())
          {
            <option value="@o">@o.ToString()</option>
          }
        </select>
      }
    }
  </div>

  @foreach (var jnKvp in CurrentNode.KeyValues)
  {
    <div class="transition-kvp @(GetKvpClass(jnKvp))">
      <button @key="jnKvp" class="transition-kvp @(jnKvp.IsSelected ? "button-kvp-selected" : "button-kvp")"
        @onclick='async () => await SetKvp("selected", jnKvp)'>
        <span class="span-key">@jnKvp.Kvp.Key</span>
        <span class="span-value">@jnKvp.Kvp.Value</span>
      </button>
      @if (jnKvp.IsSelected)
      {
        <button class="kvp-option-button" @onclick='async () => await SetKvp("nullable", jnKvp)'>
          <label class="kvp-option-label">Nullable</label>
          <input class="kvp-option-checkbox" type="checkbox" @bind="jnKvp.Nullable" />
        </button>
        @if (jnKvp.IsArray())
        {
          <select class="kvp-option-select" @bind="jnKvp.CollectionAs"
            @bind:after='async () => await SetKvp("collection", jnKvp)'>
            @foreach (var o in General.GetCollectionOptions())
            {
              <option value="@o">@o.ToString()</option>
            }
          </select>
        }
      }
    </div>
  }

  @foreach (var child in CurrentNode.Children)
  {
    <button @key="child" class="transition-node button-node @(child.IsExpanded ? "scale-x-0" : "")"
      @onclick="() => ToggleNode(child, CurrentNode.Children.IndexOf(child))">
      <span class="@(child.IsExpanded ? "hidden" : "span-key")">@child.Name</span>
      <span class="@(child.IsExpanded ? "hidden" : "span-value")">@child.Type</span>
    </button>
  }

</div>

@if (NextNode is not null && NextNode.IsExpanded)
{
  <JNodeView CurrentNode="NextNode" RowOffset="NextRowOffset" ContainerHeight="ContainerHeight"
    OnNodeToggled="ForwardNodeToggled" OnKvpSelected="ForwardKvpSelected" />
}

@code {
  [Parameter]
  public int ContainerHeight { get; set; }
  [Parameter]
  public int RowOffset { get; set; }
  [Parameter]
  public JNode CurrentNode { get; set; } = default!;
  [Parameter]
  public EventCallback<JNode> OnNodeToggled { get; set; }
  [Parameter]
  public EventCallback OnKvpSelected { get; set; }

  private bool IsSticky { get; set; }
  private bool AnyChildSelected { get; set; }

  public int NextRowOffset { get; set; }
  public JNode? NextNode { get; set; } = null;

  private ElementReference _sentinel;
  private IJSObjectReference? _observerHandle;
  private DotNetObjectReference<JNodeView>? _dotNetRef;

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      _dotNetRef = DotNetObjectReference.Create(this);

      _observerHandle = await js.InvokeAsync<IJSObjectReference>("createStickyObserver", _sentinel, _dotNetRef);
    }
  }

  [JSInvokable]
  public void OnStickyStateChanged(bool isSticky)
  {
    IsSticky = isSticky;
    InvokeAsync(StateHasChanged);
  }

  async Task ToggleNode(JNode node, int nodeIndex)
  {
    NextNode = node;
    NextRowOffset = RowOffset + CurrentNode.KeyValues.Count + (nodeIndex + 1);
    await OnNodeToggled.InvokeAsync(node);
  }

  async Task SetKvp(string action, JNodeKvp jnKvp)
  {
    if (action == "selected")
    {
      jnKvp.IsSelected = !jnKvp.IsSelected;
      await OnKvpSelected.InvokeAsync();
    }
    if (action == "nullable")
    {
      jnKvp.Nullable = !jnKvp.Nullable;
      await OnKvpSelected.InvokeAsync();
    }
    if (action == "collection")
    {
      await OnKvpSelected.InvokeAsync();
    }
  }

  async Task SetNode(string action)
  {
    if (action == "nullable")
    {
      CurrentNode.Nullable = !CurrentNode.Nullable;
      await OnKvpSelected.InvokeAsync();
    }
    if (action == "collection")
    {
      await OnKvpSelected.InvokeAsync();
    }
  }

  async Task ToggleScroll() => await js.InvokeVoidAsync("scrollToElement", _sentinel);

  async Task ForwardNodeToggled(JNode node) => await OnNodeToggled.InvokeAsync(node);
  async Task ForwardKvpSelected() => await OnKvpSelected.InvokeAsync();

  string GetDivStickyClass()
  {
    AnyChildSelected = CurrentNode.AnyChildSelected();
    var isArray = CurrentNode.Type == General.JNodeType.Array;

    if (CurrentNode.Name is "Base")
    {
      return "div-sticky-active";
    }
    if (IsSticky && !AnyChildSelected)
    {
      return "div-sticky-active";
    }
    if (IsSticky && AnyChildSelected && isArray)
    {
      return "div-sticky-active-selected-arr";
    }
    if (IsSticky && AnyChildSelected && !isArray)
    {
      return "div-sticky-active-selected-obj";
    }
    if (!IsSticky && AnyChildSelected && isArray)
    {
      return "div-sticky-inactive-selected-arr";
    }
    if (!IsSticky && AnyChildSelected && !isArray)
    {
      return "div-sticky-inactive-selected-obj";
    }
    if (!IsSticky && !AnyChildSelected)
    {
      return "div-sticky-inactive";
    }
    else
    {
      return "div-sticky-inactive";
    }
  }

  string GetButtonStickyClass()
  {
    if (CurrentNode.Name is "Base" || IsSticky && !AnyChildSelected)
    {
      return "button-sticky-active";
    }
    if (IsSticky && AnyChildSelected)
    {
      return "button-sticky-active-selected";
    }
    if (!IsSticky && AnyChildSelected)
    {
      return "button-sticky-inactive-selected";
    }
    else
    {
      return "button-sticky-inactive";
    }
  }

  string GetKvpClass(JNodeKvp kvp)
  {
    if (kvp.IsSelected && kvp.IsArray())
    {
      return "div-kvp-selected-arr";
    }
    if (kvp.IsSelected && !kvp.IsArray())
    {
      return "div-kvp-selected-obj";
    }
    else
    {
      return "div-kvp";
    }
  }
}