@inject IJSRuntime JS
@using System.Threading.Tasks

<div class="transition-gen node-col"
  style="top: @(RowOffset* General.RowHeightPx)px; height: @(ContainerHeight - (RowOffset * General.RowHeightPx))px;">

  <div class="sentinel" @ref="_sentinel"></div>
  <div class="@GetDivStickyClass()" @onmouseover="() => { IsMouseOver = true; }"
    @onmouseleave="() => { IsMouseOver = false; }">
    <button class="@GetButtonStickyClass() @(NodeToggledOptions == CurrentNode ? "border-r-0" : "")"
      @onclick="() => ToggleNode(CurrentNode, 0)">
      <span class="key font-bold">@CurrentNode.Name</span>
      <div class="div-value">
        <div class="value text-base">@(CurrentNode.Type == JNodeType.Object ? "{}" : "[]")</div>
        <div class="div-count transition-val @(AnyNestedSelected ? "scale-x-100" : "scale-x-0")">
          <div class="count">@CurrentNode.TotalNestedSelected</div>
        </div>
      </div>
    </button>
    <div class="relative">
      <button id="toggle-options"
        class="-translate-y-[calc(var(--inp-h)/2)] button-options bg-(--sticky-btn-opt) transition-val @(IsMouseOver && AnyNestedSelected ? "scale-x-100" : "scale-x-0 pointer-events-none")"
        @onclick="() => { NodeToggledOptions = CurrentNode; }">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-white" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round">
          <line x1="4" y1="7" x2="20" y2="7" />
          <line x1="4" y1="12" x2="20" y2="12" />
          <line x1="4" y1="17" x2="20" y2="17" />
        </svg>
      </button>
      @if (NodeToggledOptions == CurrentNode)
      {
        <NodeKvpOptions LangOptions="LangOptions" Node="CurrentNode" Target="sticky"
          ParentHover="@(IsMouseOver ? "outline-2" : "")"
          ForwardSetNodeNullable="async () => await SetNodeNullable(CurrentNode)"
          ForwardSetNodeOptional="async () => await SetNodeOptional(CurrentNode)"
          ForwardSetNodeAllowUndefined="async () => await SetNodeAllowUndefined(CurrentNode)"
          ForwardSetNodeCollection="@(async arg => await SetNodeCollection(CurrentNode, arg))"
          ForwardSetNodeCollectionItemNullable="async () => await SetNodeCollectionItemNullable(CurrentNode)"
          ForwardSetNodeCollectionItemAllowUndefined="async () => await SetNodeCollectionItemAllowUndefined(CurrentNode)"
          ForwardSetNodeTypeOption="@(async arg => await SetNodeTypeOption(CurrentNode, arg))"
          ForwardSetNodeClassPrimaryConstructor="async () => await SetNodeClassPrimaryConstructor(CurrentNode)"
          ForwardSetNodeClassRegularConstructor="async () => await SetNodeClassRegularConstructor(CurrentNode)"
          ForwardSetNodeZodSchema="async () => await SetNodeZodSchema(CurrentNode)"
          OnClose="() => {NodeToggledOptions = null;}" />
      }
    </div>
  </div>

  <div class="node-col-container">

    @foreach (var child in CurrentNode.Children)
    {
      <div
        class="transition-node @(child.TotalNestedSelected > 0 ? "div-node-selected" : "div-node") @(child.IsExpanded ? "scale-x-0" : "")"
        @onmouseover="() => { IsMouseOverNode = child; }" @onmouseleave="() => { IsMouseOverNode = null; }">
        <button @key="child" class="transition-gen button-node"
          @onclick="() => ToggleNode(child, CurrentNode.Children.IndexOf(child))">
          <span class="key font-bold">@child.Name</span>
          <div class="div-value">
            <div class="value text-base">@(child.Type == JNodeType.Object ? "{}" : "[]")</div>
            <div class="div-count transition-val @(child.TotalNestedSelected > 0 ? "scale-x-100" : "scale-x-0")">
              <div class="count">@child.TotalNestedSelected</div>
            </div>
          </div>
        </button>
        <div class="relative">
          <button id="toggle-options"
            class="button-options bg-(--node-btn-opt) transition-val @(IsMouseOverNode == child && child.TotalNestedSelected > 0 ? "scale-x-100" : "scale-x-0 pointer-events-none")"
            @onclick="() => { NodeToggledOptions = child; }">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-white" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round">
              <line x1="4" y1="7" x2="20" y2="7" />
              <line x1="4" y1="12" x2="20" y2="12" />
              <line x1="4" y1="17" x2="20" y2="17" />
            </svg>
          </button>
          @if (NodeToggledOptions == child)
          {
            <NodeKvpOptions LangOptions="LangOptions" Node="child" Target="node"
              ParentHover="@(IsMouseOverNode == child ? "outline-3" : "")"
              ForwardSetNodeNullable="async () => await SetNodeNullable(child)"
              ForwardSetNodeOptional="async () => await SetNodeOptional(child)"
              ForwardSetNodeAllowUndefined="async () => await SetNodeAllowUndefined(child)"
              ForwardSetNodeCollection="@(async arg => await SetNodeCollection(child, arg))"
              ForwardSetNodeCollectionItemNullable="async () => await SetNodeCollectionItemNullable(child)"
              ForwardSetNodeCollectionItemAllowUndefined="async () => await SetNodeCollectionItemAllowUndefined(child)"
              ForwardSetNodeTypeOption="@(async arg => await SetNodeTypeOption(child, arg))"
              ForwardSetNodeClassPrimaryConstructor="async () => await SetNodeClassPrimaryConstructor(child)"
              ForwardSetNodeClassRegularConstructor="async () => await SetNodeClassRegularConstructor(child)"
              ForwardSetNodeZodSchema="async () => await SetNodeZodSchema(child)"
              OnClose="() => {NodeToggledOptions = null;}" />
          }
        </div>
      </div>
    }

    @foreach (var kvp in CurrentNode.KeyValues)
    {
      <div class="transition-gen @(kvp.IsSelected ? "div-kvp-selected" : "div-kvp")"
        @onmouseover="() => { IsMouseOverKvp = kvp; }" @onmouseleave="() => { IsMouseOverKvp = null; }">
        <button @key="kvp" class="transition-gen @(kvp.IsSelected ? "button-kvp-selected" : "button-kvp")"
          @onclick='async () => await SetKvpSelected(kvp)'>
          <span class="key font-light">@kvp.Kvp.Key</span>
          <div class="div-value">
            <div class="value italic truncate">
              @kvp.Kvp.Value</div>
          </div>
        </button>
        <div class="relative">
          <button id="toggle-options"
            class="button-options transition-val bg-(--kvp-btn-opt) @(IsMouseOverKvp == kvp && kvp.IsSelected ? "scale-x-100" : "scale-x-0 pointer-events-none")"
            @onclick="() => { KvpToggledOptions = kvp; }">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-white" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round">
              <line x1="4" y1="7" x2="20" y2="7" />
              <line x1="4" y1="12" x2="20" y2="12" />
              <line x1="4" y1="17" x2="20" y2="17" />
            </svg>
          </button>
          @if (KvpToggledOptions == kvp)
          {
            <NodeKvpOptions LangOptions="LangOptions" Kvp="kvp" Target="kvp"
              ParentHover="@(IsMouseOverKvp == kvp ? "outline-3" : "")"
              ForwardSetKvpNullable="async () => await SetKvpNullable(kvp)"
              ForwardSetKvpOptional="async() => await SetKvpOptional(kvp)"
              ForwardSetKvpAllowUndefined="async () => await SetKvpAllowUndefined(kvp)"
              ForwardSetKvpCollection="@(async arg => await SetKvpCollection(kvp, arg))"
              ForwardSetKvpCollectionItemNullable="async () => await SetKvpCollectionItemNullable(kvp)"
              ForwardSetKvpCollectionItemAllowUndefined="async () => await SetKvpCollectionItemAllowUndefined(kvp)"
              OnClose="() => {KvpToggledOptions = null;}" />
          }
        </div>
      </div>
    }

  </div>
</div>

@if (NextNode is not null && NextNode.IsExpanded)
{
  <JNodeView CurrentNode="NextNode" RowOffset="NextRowOffset" ContainerHeight="ContainerHeight"
    OnNodeToggled="ForwardNodeToggled" OnKvpSelected="ForwardKvpSelected" OnRenderCode="ForwardRenderCode"
    LangOptions="LangOptions" />
}

@code {
  [Parameter]
  public int ContainerHeight { get; set; }
  [Parameter]
  public int RowOffset { get; set; }
  [Parameter]
  public JNode CurrentNode { get; set; } = default!;
  [Parameter]
  public string RootName { get; set; } = "";
  [Parameter]
  public EventCallback<JNode> OnNodeToggled { get; set; }
  [Parameter]
  public EventCallback<KvpSelectedArgs> OnKvpSelected { get; set; }
  [Parameter]
  public EventCallback OnRenderCode { get; set; }
  [Parameter]
  public required ILanguageOptions LangOptions { get; set; }

  private bool IsSticky { get; set; }
  private bool AnyNestedSelected { get => CurrentNode.TotalNestedSelected > 0; }
  private bool IsMouseOver { get; set; }
  private JNodeKvp? IsMouseOverKvp { get; set; }
  private JNode? IsMouseOverNode { get; set; }

  private JNode? NodeToggledOptions { get; set; }
  private JNodeKvp? KvpToggledOptions { get; set; }

  public int NextRowOffset { get; set; }
  public JNode? NextNode { get; set; } = null;

  private ElementReference _sentinel;
  private IJSObjectReference? _observerHandle;
  private DotNetObjectReference<JNodeView>? _dotNetRef;

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      _dotNetRef = DotNetObjectReference.Create(this);
      _observerHandle = await JS.InvokeAsync<IJSObjectReference>("createStickyObserver", _sentinel, _dotNetRef);
    }
  }

  [JSInvokable]
  public void OnStickyStateChanged(bool isSticky)
  {
    IsSticky = isSticky;
    InvokeAsync(StateHasChanged);
  }

  async Task ToggleNode(JNode node, int nodeIndex)
  {
    if (node?.Name == RootName)
    {
      return;
    }

    NextNode = node;
    NextRowOffset = RowOffset + (nodeIndex + 1);
    await OnNodeToggled.InvokeAsync(node);
  }

  async Task SetKvpSelected(JNodeKvp kvp)
  {
    kvp.IsSelected = !kvp.IsSelected;
    var args = new KvpSelectedArgs(CurrentNode, kvp.IsSelected);
    await OnKvpSelected.InvokeAsync(args);
    await OnRenderCode.InvokeAsync();
  }

  async Task SetKvpNullable(JNodeKvp kvp)
  {
    kvp.Nullable = !kvp.Nullable;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetKvpOptional(JNodeKvp kvp)
  {
    kvp.Optional = !kvp.Optional;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetKvpAllowUndefined(JNodeKvp kvp)
  {
    kvp.AllowUndefined = !kvp.AllowUndefined;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetKvpCollection(JNodeKvp kvp, string collection)
  {
    kvp.CollectionAs = collection;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetKvpCollectionItemNullable(JNodeKvp kvp)
  {
    kvp.CollectionItemNullable = !kvp.CollectionItemNullable;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetKvpCollectionItemAllowUndefined(JNodeKvp kvp)
  {
    kvp.CollectionItemAllowUndefined = !kvp.CollectionItemAllowUndefined;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetNodeNullable(JNode node)
  {
    node.Nullable = !node.Nullable;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetNodeCollection(JNode node, string collection)
  {
    node.CollectionAs = collection;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetNodeCollectionItemNullable(JNode node)
  {
    node.CollectionItemNullable = !node.CollectionItemNullable;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetNodeCollectionItemAllowUndefined(JNode node)
  {
    node.CollectionItemAllowUndefined = !node.CollectionItemAllowUndefined;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetNodeOptional(JNode node)
  {
    node.Optional = !node.Optional;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetNodeAllowUndefined(JNode node)
  {
    node.AllowUndefined = !node.AllowUndefined;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetNodeTypeOption(JNode node, ITypeScriptTypeOption typeOption)
  {
    node.TypeOption = typeOption;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetNodeClassPrimaryConstructor(JNode node)
  {
    node.TypeOption!.UsePrimaryConstructor = true;
    node.TypeOption!.UseRegularConstructor = false;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetNodeClassRegularConstructor(JNode node)
  {
    node.TypeOption!.UseRegularConstructor = true;
    node.TypeOption!.UsePrimaryConstructor = false;
    await OnRenderCode.InvokeAsync();
  }

  async Task SetNodeZodSchema(JNode node)
  {
    node.TypeOption!.UseZodSchema = !node.TypeOption!.UseZodSchema;
    await OnRenderCode.InvokeAsync();
  }

  async Task ToggleScroll() => await JS.InvokeVoidAsync("scrollToElement", _sentinel);

  async Task ForwardNodeToggled(JNode node) => await OnNodeToggled.InvokeAsync(node);
  async Task ForwardKvpSelected(KvpSelectedArgs args) => await OnKvpSelected.InvokeAsync(args);
  async Task ForwardRenderCode() => await OnRenderCode.InvokeAsync();

  string GetDivStickyClass()
  {
    var isArray = CurrentNode.Type == JNodeType.Array;

    if (CurrentNode.Name == RootName)
    {
      return "div-sticky-active";
    }
    else if (IsSticky && !AnyNestedSelected)
    {
      return "div-sticky-active";
    }
    else if (IsSticky && AnyNestedSelected)
    {
      return "div-sticky-active-selected";
    }
    else if (!IsSticky && AnyNestedSelected)
    {
      return "div-sticky-inactive-selected";
    }
    else if (!IsSticky && !AnyNestedSelected)
    {
      return "div-sticky-inactive";
    }
    else
    {
      return "div-sticky-inactive";
    }
  }

  string GetButtonStickyClass()
  {
    if (CurrentNode.Name == RootName || IsSticky && !AnyNestedSelected)
    {
      return "button-sticky-active";
    }
    else if (IsSticky && AnyNestedSelected)
    {
      return "button-sticky-active-selected";
    }
    else if (!IsSticky && AnyNestedSelected)
    {
      return "button-sticky-inactive-selected";
    }
    else
    {
      return "button-sticky-inactive";
    }
  }
}