@inject IJSRuntime JS
@implements IAsyncDisposable

<div class="transition-opt h-fit w-1 @Transition @BackgroundColor @StickyClass">
</div>
<div tabindex="0" @ref="Ref"
  class="transition-opt @Transition flex flex-col z-30 space-y-[3px] absolute top-0 left-1 w-20 h-fit text-xs font-medium hover:@ParentHover @ParentHover @HoverColor @OutlineColor @BackgroundColor @StickyClass">

  @if (Kvp is not null)
  {
    <button class="px-1 flex h-(--inp-h) w-20 items-center justify-center hover:border"
      @onclick="async () => await ForwardSetKvpNullable.InvokeAsync()">
      <label class="text-xs font-medium text-center w-15">Nullable</label>
      <input class="w-5 h-(--inp-h) pointer-events-none" type="checkbox" disabled @bind="Kvp.Nullable" />
    </button>
    @if (LangOptions.Language == "TypeScript")
    {
      <button class="px-1 flex h-(--inp-h) w-20 items-center justify-center hover:border"
        @onclick="async () => await ForwardSetKvpOptional.InvokeAsync()">
        <label class="text-xs font-medium text-center w-15">Optional</label>
        <input class="w-5 h-(--inp-h) pointer-events-none" type="checkbox" disabled @bind="Kvp.Optional" />
      </button>
    }
    @if (Kvp.IsArray())
    {
      <CollectionSelection CollectionItemNullable="Kvp.CollectionItemNullable"
        Collection="LangOptions.GetCollectionOptions()" Target="kvp" CurrentSelected="@Kvp.CollectionAs"
        OnSelected="@(async arg => await ForwardSetKvpCollection.InvokeAsync(arg))"
        OnSetCollectionItemNullable="async () => await ForwardSetKvpCollectionItemNullable.InvokeAsync()"
        IsToggled="KvpCollectionToggled" OnToggled="HandleKvpCollectionToggled" />
    }
  }

  @if (Node is not null && Node.Parent is not null)
  {
    <button class="px-1 flex h-(--inp-h) w-20 items-center justify-center hover:border"
      @onclick="async () => await ForwardSetNodeNullable.InvokeAsync()">
      <label class="text-xs font-medium text-center w-15">Nullable</label>
      <input class="w-5 h-(--inp-h) pointer-events-none" type="checkbox" disabled @bind="Node.Nullable" />
    </button>
    @if (LangOptions.Language == "TypeScript")
    {
      <button class="px-1 flex h-(--inp-h) w-20 items-center justify-center hover:border"
        @onclick="async () => await ForwardSetNodeOptional.InvokeAsync()">
        <label class="text-xs font-medium text-center w-15">Optional</label>
        <input class="w-5 h-(--inp-h) pointer-events-none" type="checkbox" disabled @bind="Node.Optional" />
      </button>
      <TypeSelection Types="Language.GetTypeOptions()" Target="@Target" CurrentSelected="@Node.TypeOption!.Name"
        OnSelected="@(async arg => await ForwardSetNodeTypeOption.InvokeAsync(arg))" IsToggled="NodeTypeToggled"
        OnToggled="HandleNodeTypeToggled" />
      @if (Node.TypeOption!.Name == "class")
      {
        <button class="px-1 flex h-(--inp-h) w-20 items-center justify-center hover:border"
          @onclick="async () => await ForwardSetNodeClassPrimaryConstructor.InvokeAsync()">
          <label class="text-[0.5rem] font-medium text-center w-15">Primary constructor</label>
          <input class="w-5 h-(--inp-h) pointer-events-none" type="checkbox" disabled
            @bind="Node.TypeOption!.UsePrimaryConstructor" />
        </button>
        <button class="px-1 flex h-(--inp-h) w-20 items-center justify-center hover:border"
          @onclick="async () => await ForwardSetNodeClassRegularConstructor.InvokeAsync()">
          <label class="text-[0.5rem] font-medium text-center w-15">Regular constructor</label>
          <input class="w-5 h-(--inp-h) pointer-events-none" type="checkbox" disabled
            @bind="Node.TypeOption!.UseRegularConstructor" />
        </button>
        <button class="px-1 flex h-(--inp-h) w-20 items-center justify-center hover:border"
          @onclick="async () => await ForwardSetNodeClassNoConstructor.InvokeAsync()">
          <label class="text-[0.5rem] font-medium text-center w-15">No constructor</label>
        </button>
      }
    }
    @if (Node.Type == JNodeType.Array)
    {
      <CollectionSelection CollectionItemNullable="Node.CollectionItemNullable"
        Collection="LangOptions.GetCollectionOptions()" Target="@Target" CurrentSelected="@Node.CollectionAs"
        OnSelected="@(async arg => await ForwardSetNodeCollection.InvokeAsync( arg))"
        OnSetCollectionItemNullable="async () => await ForwardSetNodeCollectionItemNullable.InvokeAsync()"
        IsToggled="NodeCollectionToggled" OnToggled="HandleNodeCollectionToggled" />
    }
  }

  @if (Node is not null && Node.Parent is null)
  {
    @if (LangOptions.Language == "TypeScript")
    {
      <TypeSelection Types="Language.GetTypeOptions()" Target="@Target" CurrentSelected="@Node.TypeOption!.Name"
        OnSelected="@(async arg => await ForwardSetNodeTypeOption.InvokeAsync(arg))" IsToggled="NodeTypeToggled"
        OnToggled="HandleNodeTypeToggled" />
      @if (Node.TypeOption!.Name == "class")
      {
        <button class="px-1 flex h-(--inp-h) w-20 items-center justify-center hover:border"
          @onclick="async () => await ForwardSetNodeClassPrimaryConstructor.InvokeAsync()">
          <label class="text-[0.5rem] font-medium text-center w-15">Primary constructor</label>
          <input class="w-5 h-(--inp-h) pointer-events-none" type="checkbox" disabled
            @bind="Node.TypeOption!.UsePrimaryConstructor" />
        </button>
        <button class="px-1 flex h-(--inp-h) w-20 items-center justify-center hover:border"
          @onclick="async () => await ForwardSetNodeClassRegularConstructor.InvokeAsync()">
          <label class="text-[0.5rem] font-medium text-center w-15">Regular constructor</label>
          <input class="w-5 h-(--inp-h) pointer-events-none" type="checkbox" disabled
            @bind="Node.TypeOption!.UseRegularConstructor" />
        </button>
        <button class="px-1 flex h-(--inp-h) w-20 items-center justify-center hover:border"
          @onclick="async () => await ForwardSetNodeClassNoConstructor.InvokeAsync()">
          <label class="text-[0.5rem] font-medium text-center w-15">No constructor</label>
          <input class="w-5 h-(--inp-h) pointer-events-none" type="checkbox" disabled
            @bind="Node.TypeOption!.UsePrimaryConstructor" />
        </button>
      }
    }
  }
</div>

@code {
  [Parameter]
  public required ILanguageOptions LangOptions { get; set; }
  [Parameter]
  public JNode? Node { get; set; }
  [Parameter]
  public JNodeKvp? Kvp { get; set; }
  [Parameter]
  public required string Target { get; set; }
  [Parameter]
  public required string ParentHover { get; set; }

  private bool KvpCollectionToggled;
  private bool NodeTypeToggled;
  private bool NodeCollectionToggled;

  private string Transition = "scale-x-0";
  private ElementReference Ref;
  private DotNetObjectReference<NodeKvpOptions>? DotNetRef;
  [Parameter]
  public EventCallback OnClose { get; set; }

  [Parameter]
  public EventCallback ForwardSetKvpNullable { get; set; }
  [Parameter]
  public EventCallback ForwardSetKvpOptional { get; set; }
  [Parameter]
  public EventCallback<string> ForwardSetKvpCollection { get; set; }
  [Parameter]
  public EventCallback ForwardSetKvpCollectionItemNullable { get; set; }

  [Parameter]
  public EventCallback ForwardSetNodeNullable { get; set; }
  [Parameter]
  public EventCallback ForwardSetNodeOptional { get; set; }
  [Parameter]
  public EventCallback<string> ForwardSetNodeCollection { get; set; }
  [Parameter]
  public EventCallback ForwardSetNodeCollectionItemNullable { get; set; }
  [Parameter]
  public EventCallback<ITypeScriptTypeOption> ForwardSetNodeTypeOption { get; set; }
  [Parameter]
  public EventCallback ForwardSetNodeClassPrimaryConstructor { get; set; }
  [Parameter]
  public EventCallback ForwardSetNodeClassRegularConstructor { get; set; }
  [Parameter]
  public EventCallback ForwardSetNodeClassNoConstructor { get; set; }

  private string BackgroundColor = null!;
  private string OutlineColor = null!;
  private string HoverColor = null!;
  private string StickyClass = "";
  private bool IsToggled = false;

  void HandleKvpCollectionToggled()
  {
    KvpCollectionToggled = !KvpCollectionToggled;
    NodeCollectionToggled = false;
    NodeTypeToggled = false;
  }

  void HandleNodeCollectionToggled()
  {
    NodeCollectionToggled = !NodeCollectionToggled;
    KvpCollectionToggled = false;
    NodeTypeToggled = false;
  }

  void HandleNodeTypeToggled()
  {
    NodeTypeToggled = !NodeTypeToggled;
    NodeCollectionToggled = false;
    KvpCollectionToggled = false;
  }

  [JSInvokable]
  public async Task OnClickOutside()
  {
    Transition = "scale-x-0";
    await InvokeAsync(StateHasChanged);
    await Task.Delay(50);
    await OnClose.InvokeAsync();
  }

  protected override async Task OnInitializedAsync()
  {
    if (Target == "kvp")
    {
      BackgroundColor = "bg-(--kvp-sel)";
      OutlineColor = "outline-(--kvp-sel-hov-ol)";
      HoverColor = "hover:bg-(--kvp-sel-hov)";
    }
    if (Target == "node")
    {
      BackgroundColor = "bg-(--node)";
      OutlineColor = "outline-(--node-hov-ol)";
      HoverColor = "hover:bg-(--node-hov)";
    }
    if (Target == "sticky")
    {
      BackgroundColor = "bg-(--sticky)";
      OutlineColor = "outline-(--sticky-hov-ol)";
      HoverColor = "hover:bg-(--sticky-hov)";
      StickyClass = "-translate-y-[calc(var(--inp-h)/2)]";
    }
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      await Task.Delay(50);
      Transition = "scale-x-100";
      StateHasChanged();

      DotNetRef = DotNetObjectReference.Create(this);
      await JS.InvokeVoidAsync(
      "registerClickOutside",
      Ref,
      DotNetRef);
    }
  }

  public async ValueTask DisposeAsync()
  {
    if (DotNetRef is not null)
    {
      await JS.InvokeVoidAsync("unregisterClickOutside", Ref);
      DotNetRef.Dispose();
    }
  }
}