<div class="relative w-20">
  <div
    class="flex flex-col absolute top-0 left-0 w-20 h-fit text-xs font-medium outline-3 @BackgroundColor @OutlineColor @StickyClass"
    @onclick="() => { IsToggled = !IsToggled; }">
    <button
      class="w-full h-(--inp-h) hover:border truncate @(IsToggled ? $"{SelectedColor}" : "")">@CurrentSelected</button>
    @if (IsToggled)
    {
      @foreach (var option in Types)
      {
        <button
          class="w-full h-(--inp-h) hover:border truncate @(option.Name == CurrentSelected ? "bg-white opacity-50" : "")"
          @onclick="async () => await OnSelected.InvokeAsync(option)" @onclick:stopPropagation="true">
          @option.Name
        </button>
      }
    }
  </div>
</div>

@code {
  [Parameter]
  public required List<ITypeScriptTypeOption> Types { get; set; }
  [Parameter]
  public required string CurrentSelected { get; set; }
  [Parameter]
  public required string Target { get; set; }

  [Parameter]
  public EventCallback<ITypeScriptTypeOption> OnSelected { get; set; }

  private bool IsToggled = false;
  private string StickyClass = "";
  private string BackgroundColor = null!;
  private string OutlineColor = null!;
  private string SelectedColor = null!;

  protected override void OnInitialized()
  {
    if (Target == "node")
    {
      BackgroundColor = "bg-(--node)";
      OutlineColor = "outline-(--node-hov-ol)";
    }
    if (Target == "sticky")
    {
      BackgroundColor = "bg-(--sticky)";
      OutlineColor = "outline-(--sticky-hov-ol)";
      StickyClass = "-translate-y-[calc(var(--inp-h)/2)]";
    }
  }
}