<select class="select-base" @bind="setNamingConvention" @bind:after="async () => await HandleSetNamingConvention()">
  @foreach (var nc in Language.GetNamingConventions())
  {
    <option value="@nc.Name">@nc.Name</option>
  }
</select>

<button class="transition-gen button-base" @onclick="async () => await HandleSetNullable()">Nullable</button>

<select class="select-base" @bind="setCollection" @bind:after="async () => await HandleSetCollection()">
  @for (int i = 0; i < LangOptions.GetCollectionOptions().Length; i++)
  {
    var collectionAs = LangOptions.GetCollectionOptions().GetValue(i)!.ToString();
    <option value="@collectionAs">@collectionAs</option>
  }
</select>

<select class="select-base" @bind="setTypeOption" @bind:after="async () => await HandleSetTypeOption()">
  @foreach (var typeOption in Language.GetTypeOptions())
  {
    <option value="@typeOption.Name">@typeOption.Name</option>
  }
</select>

@if (setTypeOption == "Interface")
{
  <button class="transition-gen button-base" @onclick="async () => await HandleSetNullable()">Nullable</button>
}

@code {
  [Parameter]
  public ILanguageOptions LangOptions { get; set; } = new CSharpOptions();
  [Parameter]
  public EventCallback<string> OnSetCollection { get; set; }
  [Parameter]
  public EventCallback<bool> OnSetNullable { get; set; }
  [Parameter]
  public EventCallback<ITypeOption> OnSetTypeOption { get; set; }
  [Parameter]
  public EventCallback<INamingConvention> OnSetNamingConvention { get; set; }

  private bool setNullable = false;
  async Task HandleSetNullable()
  {
    setNullable = !setNullable;
    await OnSetNullable.InvokeAsync(setNullable);
  }

  private string setTypeOption = null!;
  async Task HandleSetTypeOption()
  {
    var typeOption = Language.GetTypeOptions()
    .FirstOrDefault(x => x.Name == setTypeOption);

    if (typeOption is null)
    {
      var namingConvention = Language.GetNamingConventions()
      .First(x => x.Name == "No naming convention");

      setNamingConvention = namingConvention.Name;
      await OnSetNamingConvention.InvokeAsync(namingConvention);
    }

    await OnSetTypeOption.InvokeAsync(typeOption);
  }

  private string setNamingConvention = null!;
  async Task HandleSetNamingConvention()
  {
    var namingConvention = Language.GetNamingConventions()
    .First(x => x.Name == setNamingConvention);

    await OnSetNamingConvention.InvokeAsync(namingConvention);
  }

  private string setCollection = null!;
  async Task HandleSetCollection()
  {
    await OnSetCollection.InvokeAsync(setCollection);
  }
}