@* <select class="select-base" @bind="setNamingConvention" @bind:after="async () => await HandleSetNamingConvention()">
  @foreach (var nc in Language.GetNamingConventions())
  {
    <option value="@nc.Name">@nc.Name</option>
  }
</select> *@

<button class="transition-gen button-base" @onclick="async () => await HandleSetNullable()">Nullable</button>

<select class="select-base" @bind="setCollection"
  @bind:after="async () => await OnSetCollection.InvokeAsync(setCollection)">
  @for (int i = 0; i < LangOptions.GetCollectionOptions().Length; i++)
  {
    var collectionAs = LangOptions.GetCollectionOptions().GetValue(i)!.ToString();
    <option value="@collectionAs">@collectionAs</option>
  }
</select>

<select class="select-base" @bind="setTypeOption"
  @bind:after="async () => await OnSetTypeOption.InvokeAsync(setTypeOption)">
  @foreach (var typeOption in Language.GetTypeOptions())
  {
    <option value="@typeOption.Name">@typeOption.Name</option>
  }
</select>

@if (setTypeOption == "class")
{
  <button class="transition-gen button-base text-[0.5rem]"
    @onclick="async () => await OnSetClassPrimaryConstructor.InvokeAsync()">Primary constructor</button>
  <button class="transition-gen button-base text-[0.5rem]"
    @onclick="async () => await OnSetClassRegularConstructor.InvokeAsync()">Regular constructor</button>
  <button class="transition-gen button-base text-[0.5rem]"
    @onclick="async () => await OnSetClassNoConstructor.InvokeAsync()">No constructor</button>
}

@code {
  [Parameter]
  public ILanguageOptions LangOptions { get; set; } = new CSharpOptions();
  [Parameter]
  public EventCallback<string> OnSetCollection { get; set; }
  [Parameter]
  public EventCallback<bool> OnSetNullable { get; set; }
  [Parameter]
  public EventCallback<string> OnSetTypeOption { get; set; }
  [Parameter]
  public EventCallback<bool> OnSetClassPrimaryConstructor { get; set; }
  [Parameter]
  public EventCallback<bool> OnSetClassRegularConstructor { get; set; }
  [Parameter]
  public EventCallback<bool> OnSetClassNoConstructor { get; set; }

  private string setCollection = null!;
  private string setTypeOption = null!;
  private bool setNullable = false;

  async Task HandleSetNullable()
  {
    setNullable = !setNullable;
    await OnSetNullable.InvokeAsync(setNullable);
  }
}