@page "/tool"
@using JsonUI_blazor.Components
@using System.Net.Http.Headers
@using System.Buffers.Text
@using System.Text
@using System.IO.IsolatedStorage
@inject HttpClient httpClient

<PageTitle>PickJSON - Tool</PageTitle>

<div class="app-container" id="app-container">

  <div class="json-container" id="json-container">

    <div class="json-menu">
      <input type="text" class="load-input w-40" @bind="RootName" placeholder="Root name" />

      <button class="transition gen w-20 @(LoadingUrl ? "button-base-active" : "button-base")"
        @onclick="async () => await ToggleLoadUrl()">Load URL</button>

      <button class="transition-gen w-20 @(LoadingText ? "button-base-active" : "button-base")"
        @onclick="async () => await ToggleLoadText()">Load TEXT</button>
    </div>

    <div class="transition-input load-menu @(LoadingText ? "scale-y-100 h-full" : "scale-y-0 h-0")">
      <textarea class="load-textarea" @bind="Json" placeholder="Paste JSON"></textarea>
      <div class="flex w-full bg-(--bg-primary)">
        <button class="transition-gen button-base w-1/2" @onclick="() => LoadJson()">OK</button>
        <button class="transition-gen button-base w-1/2" @onclick="() => { LoadingText = false; }">Cancel</button>
      </div>
    </div>

    <div class="transition-input load-menu @(LoadingUrl ? "scale-y-100 h-auto" : "scale-y-0 h-0")">
      <div class="w-full">
        <input type="text" @bind="Url" class="load-input" placeholder="Paste url" />
      </div>
      @foreach (var header in CustomHeaders)
      {
        <div class="flex">
          <div class="w-1/2">
            <input type="text" @bind="header.Key" class="load-input" placeholder="Header key" />
          </div>
          <div class="w-1/2 flex">
            <input type="text" @bind="header.Value" class="load-input" placeholder="Header value" />
            <button class="load-button" @onclick="() => { header.IsBase64 = !header.IsBase64; }">
              <label class="load-label">Base64</label>
              <input type="checkbox" @bind="header.IsBase64" class="load-checkbox" />
            </button>
          </div>
        </div>
      }
      <div class="flex w-full bg-(--bg-primary)">
        <button class="transition-gen button-base w-1/2" @onclick="() => { CustomHeaders.Add(new CustomHeader()); }">Add
          header</button>
        <button class="transition-gen button-base w-1/2"
          @onclick="() => { CustomHeaders.RemoveAt(CustomHeaders.Count - 1); }">Remove
          header</button>
      </div>
      <div class="flex w-full bg-(--bg-primary)">
        <button class="transition-gen button-base w-1/2" @onclick="async () => await FetchRequest()">OK</button>
        <button class="transition-gen button-base w-1/2" @onclick="() => { LoadingUrl = false; }">Cancel</button>
      </div>
    </div>

    <div class="transition-gen node-container" id="node-container">
      @if (Root is not null)
      {
        <JNodeView CurrentNode="Root" RootName="@Root.Name" ContainerHeight="NodeContainerHeight"
          OnNodeToggled="HandleNodeToggled" OnKvpSelected="HandleKvpSelected" OnRenderCode="HandleRenderCode"
          LangOptions="langOptions" />
      }
      else
      {
        <div class="h-11/12 w-full flex items-end justify-center">
          <span class="text-cyan-400 text-xl font-bold">No JSON loaded</span>
        </div>
      }
    </div>

  </div>

  <div class="code-container">

    <div class="code-menu">

      <select class="select-base" @bind="SelectedLanguage" @bind:after="HandleSelectedLanguage">
        <option selected value="C#">C#</option>
        <option value="TypeScript">TypeScript</option>
      </select>

      <button class="transition-base @(IsOptions ? "button-base-active" : "button-base")"
        @onclick="() => { IsOptions = !IsOptions; }">Options</button>

    </div>


    <div class="flex flex-1 overflow-y-auto">

      @if (RenderCode.Length < 1)
      {
        <div class="transition-gen code">
          <div class="h-11/12 w-full flex items-end justify-center">
            <span class="text-cyan-400 text-xl font-bold">No properties selected</span>
          </div>
        </div>
      }
      else
      {
        <pre class="transition-gen code">@RenderCode</pre>
      }

      <div class="transition-gen code-options @(IsOptions ? "pl-2 w-25" : "overflow-hidden")">
        @if (langOptions.Language == "C#")
        {
          <CSharpMenu LangOptions="langOptions" OnSetCollection="HandleSetCollection" OnSetNullable="HandleSetNullable"
            OnSetJsonLibrary="HandleSetJsonLibrary" OnSetNamingConvention="HandleSetNamingConvention" />
        }
        @if (langOptions.Language == "TypeScript")
        {
          <TypescriptMenu LangOptions="langOptions" OnSetCollection="HandleSetCollection"
            OnSetNullable="HandleSetNullable" OnSetTypeOption="HandleSetTypeOption"
            OnSetClassPrimaryConstructor="HandleSetTypeScriptClassPrimaryConstructor"
            OnSetClassRegularConstructor="HandleSetTypeScriptClassRegularConstructor"
            OnSetClassNoConstructor="HandleSetTypeScriptClassNoConstructor" />
        }
      </div>

    </div>
  </div>
</div>

<div class="bottom-container">
  <div class="bottom-content text-xs text-cyan-400 md:text-base md:justify-between">
    <h1 class="ml-2 text-xl font-medium">PickJSON</h1>

    <div class="mx-0 flex flex-none flex-col scale-50 md:scale-100 md:flex-row md:space-x-10">
      <p class="text-start italic">
        Visualize JSON data
      </p>

      <p class="ml-5 md:ml-0 text-start italic">
        Pick properties interactively
      </p>

      <p class="ml-10 md:ml-0 text-start italic">
        Generate clean, configurable code
      </p>
    </div>

    <img src="pickjson.png" class="w-10 md:w-12 md:mr-2" />
  </div>
</div>


@code {
  public string Url { get; set; } = "";
  public List<CustomHeader> CustomHeaders { get; set; } = new();
  public bool IsOptions { get; set; }

  public string RenderCode { get; set; } = "";
  public string Json { get; set; } = "";
  public bool LoadingText { get; set; } = true;
  public bool LoadingUrl { get; set; }
  public int NodeContainerHeight;
  public List<JNode> JNodes { get; set; } = new();
  public JNode? Root { get; set; }
  public string? RootName { get; set; }

  private string SelectedLanguage { get; set; } = "C#";
  private ILanguageOptions langOptions = new CSharpOptions();

  protected override async Task OnInitializedAsync()
  {
    Json = await httpClient.GetStringAsync("example.json");
  }

  private void HandleSelectedLanguage()
  {
    switch (SelectedLanguage)
    {
      case "C#":
        langOptions = new CSharpOptions();
        JNodes.ForEach(x => x.TypeOption = null);
        break;
      case "TypeScript":
        langOptions = new TypeScriptOptions();
        JNodes.ForEach(x => x.TypeOption = langOptions.TypeOption);
        break;
    }

    LoadJson();
    HandleSetCollection(langOptions.GetCollectionOptions().GetValue(0)!.ToString()!);
    HandleRenderCode();
  }

  private void HandleSetJsonLibrary(IJsonLibrary? jsonLibrary)
  {
    foreach (var jn in JNodes)
    {
      jn.JsonLibraryAnnotations!.Clear();
      jn.KeyValues.ForEach(x => x.JsonLibraryAnnotations!.Clear());
    }

    langOptions.JsonLibrary = jsonLibrary;
    HandleRenderCode();
  }

  private void HandleSetTypeOption(string setTypeOption)
  {
    var typeOption = Language.GetTypeOptions()
    .FirstOrDefault(x => x.Name == setTypeOption);

    langOptions.TypeOption = typeOption;
    JNodes.ForEach(x => x.TypeOption = typeOption);
    HandleRenderCode();
  }

  private void HandleSetTypeScriptClassPrimaryConstructor()
  {
    langOptions.TypeOption!.UsePrimaryConstructor = true;
    langOptions.TypeOption!.UseRegularConstructor = false;
    JNodes.ForEach(x => x.TypeOption = langOptions.TypeOption);
    HandleRenderCode();
  }

  private void HandleSetTypeScriptClassRegularConstructor()
  {
    langOptions.TypeOption!.UseRegularConstructor = true;
    langOptions.TypeOption!.UsePrimaryConstructor = false;
    JNodes.ForEach(x => x.TypeOption = langOptions.TypeOption!);
    HandleRenderCode();
  }

  private void HandleSetTypeScriptClassNoConstructor()
  {
    langOptions.TypeOption!.UsePrimaryConstructor = false;
    langOptions.TypeOption!.UseRegularConstructor = false;
    JNodes.ForEach(x => x.TypeOption = langOptions.TypeOption!);
    HandleRenderCode();
  }

  private void HandleSetNamingConvention(INamingConvention namingConvention)
  {
    langOptions.NamingConvention = namingConvention;
    var isNamingConvention = namingConvention.Name != "No naming convention";
    JNodes.ForEach(x => x.PropagateNameAnnotation(isNamingConvention, langOptions.JsonLibrary!.NameAnnotation));
    HandleRenderCode();
  }

  private void HandleSetCollection(string collection)
  {
    JNodes.ForEach(x => x.SetNodeCollectionAs(collection));
    JNodes.ForEach(x => x.SetKvpsCollectionAs(collection));
    HandleRenderCode();
  }

  private void HandleSetNullable(bool nullable)
  {
    JNodes.ForEach(x => x.SetNullable(nullable));
    HandleRenderCode();
  }

  void LoadJson()
  {
    RootName = RootName is null ? "Root" : RootName;
    var rootType = Json.StartsWith('{') ? "{}" : "[]";
    JNodes = JNodeMaster.CreateFromJson(Json, langOptions, RootName)!;
    Root = JNodes.FirstOrDefault(x => x.LineageKey == $"{RootName}{rootType}");

    if (Root is null)
    {
      Root = new JNode($"{RootName}{rootType}", string.Empty, RootName, new(), langOptions);

      foreach (var jn in JNodes)
      {
        if (jn.ParentKey == $"{RootName}{rootType}")
        {
          Root.Children.Add(jn);
          jn.Parent = Root;
        }
      }
    }

    Root.IsExpanded = true;

    NodeContainerHeight = (Root.KeyValues.Count + Root.Children.Count) * General.RowHeightPx;
    LoadingText = false;
    LoadingUrl = false;
  }

  async Task ToggleLoadUrl()
  {
    LoadingUrl = !LoadingUrl;
    LoadingText = false;
    await InvokeAsync(StateHasChanged);
  }

  async Task ToggleLoadText()
  {
    LoadingText = !LoadingText;
    LoadingUrl = false;
    await InvokeAsync(StateHasChanged);
  }

  async Task FetchRequest()
  {
    try
    {
      using var request = new HttpRequestMessage(HttpMethod.Get, Url);

      foreach (var ch in CustomHeaders)
      {
        var value = ch.Value;

        if (!ch.IsBase64)
        {
          var splitVal = ch.Value.Split(' ');
          var base64 = Convert.ToBase64String(Encoding.UTF8.GetBytes(splitVal[1]));
          value = $"{splitVal[0]} {base64}";
        }

        if (ch.Key.Equals("Authorization", StringComparison.OrdinalIgnoreCase))
        {
          request.Headers.Authorization = AuthenticationHeaderValue.Parse(value);
        }
        else if (ch.Key.Equals("User-Agent", StringComparison.OrdinalIgnoreCase))
        {
          request.Headers.UserAgent.ParseAdd(value);
        }
        else if (ch.Key.Equals("Accept", StringComparison.OrdinalIgnoreCase))
        {
          request.Headers.Accept.ParseAdd(value);
        }
        else
        {
          request.Headers.Add(ch.Key, ch.Value);
        }
      }

      var response = await httpClient.SendAsync(request);
      response.EnsureSuccessStatusCode();

      Json = await response.Content.ReadAsStringAsync();
      LoadJson();
    }
    catch (Exception ex)
    {
      Console.WriteLine($"// BASE - {ex.GetBaseException().Message} // INNER - {ex.InnerException?.Message} // SOURCE -  {ex.Source} // STACKTRACE - {ex.StackTrace} // TARGETSITE - {ex.TargetSite}");
    }
  }

  async Task HandleNodeToggled(JNode newNode)
  {
    var toggleTo = !newNode.IsExpanded;
    JNodes.ForEach(n => n.IsExpanded = false);

    newNode.IsExpanded = toggleTo;
    NodeContainerHeight = (newNode.KeyValues.Count + newNode.Children.Count) * General.RowHeightPx;

    if (newNode.Parent is not null)
    {
      var iteratingNode = newNode;

      do
      {
        iteratingNode = iteratingNode.Parent;
        iteratingNode.IsExpanded = true;
        NodeContainerHeight += (iteratingNode.KeyValues.Count + iteratingNode.Children.Count) * General.RowHeightPx;
      }
      while (iteratingNode.Parent is not null);
    }

    await InvokeAsync(StateHasChanged);
  }

  async Task HandleKvpSelected(KvpSelectedArgs args)
  {
    args.node.TotalNestedSelected += args.selected ? 1 : -1;

    var iteratingNode = args.node;

    while (iteratingNode.Parent is not null)
    {
      iteratingNode = iteratingNode.Parent;
      iteratingNode.TotalNestedSelected += args.selected ? 1 : -1;
    }

    await InvokeAsync(StateHasChanged);
  }

  void HandleRenderCode()
  {
    RenderCode = JNodeMaster.JNodesToCode(JNodes, langOptions);
    StateHasChanged();
  }
}